section.container
    .slider
        .slider__images
        a.card-link1 Change old book on new
            img(src=require("../img/card-arrow.svg"), alt="card-arrow")
        a.card-link2 top <br> 100 <br> books <br> 2022
            img(src=require("../img/card-arrow.svg"), alt="card-arrow")
