@use 'variables' as vars;

$gradient: linear-gradient(
    90deg,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, .25) calc(100% - 9px),
    transparent
);

.catalog {
padding-bottom: 74px;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.categories-nav {
    padding: 45px 0 81px;
    max-width: 180px;
    width: 100%;
    max-height: 710px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    ul {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -160px;
        width: 416px;
        height: 100%;
        background: vars.$light-purple;
        z-index: -1;
    }
    li {
        position: relative;
    }
    a {
        color: vars.$base-gray;
        white-space: nowrap;
        &.categories-nav__item_first,
        &.active-category {
            color: vars.$base-black;
            font-size: 16px;
            font-weight: 700;
            &::before {
                position: absolute;
                content: '';
                top: 6px;
                left: -10px;
                width: 6px;
                height: 6px;
                background: #756AD3;
                border-radius: 50%;
            }
        }
    }
}

.books {
    padding-top: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 75px;
    row-gap: 80px;
}

.books-card {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.books-card__image {
    width: 212px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        object-fit: cover;
    }
}

.books-card__text {
    width: 176px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.books-card__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.books-card__gray-text {
    color: vars.$base-gray;
    font-family: vars.$secondary-font;
    font-size: 10px;

}

.books-card__authors {
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-card__title {
    font-weight: 700;
}

.books-card__rating {
    display: flex;
    gap: 6px;
    align-items: center;
}

.rating {
    position: relative;
    &::before {
        content: '★★★★★';
        display: block;
        color: #EEEDF5;
    }
}

.rating__active {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
        content: '★★★★★';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #F2C94C;
    }
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.raitin__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.books-card__description {
    width: inherit;
    height: 42px;
    overflow: hidden;
    text-transform: capitalize;
}

.books-card__price {
    font-size: 13px;
    font-weight: 700;
}

.btn {
    color: vars.$deep-purple;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    width: inherit;
    height: 45px;
    border: 1px solid vars.$deep-purple;;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.in-the-cart {
    border-color: #EEEDF5;
    color: vars.$base-gray;
}

.btn-load-more {
    width: 176px;
    margin: 96px auto 0;
    visibility: hidden;
}

@media (hover: hover) {
    .categories-nav a:hover {
        color: vars.$base-black;
    }
    .btn:hover {
        background: #EEEDF5;
    }
}

@media (hover: none) {
    .categories-nav a:active {
        color: vars.$base-black;
    }
    .btn:active {
        background: #EEEDF5;
    }
}

@media (max-width: 1200px) {
    .books {
        gap: 20px;
        justify-content: center;
    }

    .books-card {
        column-gap: 5px;
    }
}

@media (max-width: 767px) {
    .catalog-container {
        flex-wrap: wrap;
    }
    .categories-nav {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        background: vars.$light-purple;
        padding: 30px 0px;
        overflow: hidden;
        mask-image: $gradient;
        -webkit-mask-image: $gradient;
        ul {
            flex-direction: row;
            align-items: center;
            overflow-x: scroll;
            padding: 0 15px 50px;
            margin-bottom: -50px;
        }
        &::before {
            display: none;
        }
    }
    .books-card__image {
        width: 140px;
        height: 250px;
    }
  }

  @media (max-width: 374px) {
    .books-card__image {
        width: 130px;
    }
    .books-card__text {
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
  }