@import 'variables';

@mixin card-link($width, $height, $right, $background-color) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: $base-black;
    position: absolute;
    width: $width;
    height: $height;
    right: $right;
    background-color: $background-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: end;
    img {
      width: 55px;
    }
  }

.slider {
    position: relative;
    padding-top: 116px;
    margin-bottom: 105px;
}
.slider__images {
  position: relative;
  max-width: 1120px;
  height: 702px;
  .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
    &.active{
        opacity: 1;
      }
  }
}

.slider__dots {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  position: absolute;
  left: 0;
  bottom: -23px;
  width: 100%;
}
.slider__dots-item {
  width: 12px;
  height: 12px;
  background: $light-purple;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.4s ease;
  &:hover, &.active {
    background: $purple;
  }
}

.card-link1 {
  @include card-link(149px, 204px, -86px, $purple);
  // top: 195px;
  top: 23.84%;
  &:hover {
    background-color: #afa9f4;
  }
}

.card-link2 {
  @include card-link(158px, 273px, -158px - 23px, #FF8FE6);
  // bottom: 70px;
  bottom: 8.559%;
  &:hover {
    background-color: #ffa6ec;
  }
}

@media (max-width: 1150px) {
  .slider__images {
    height: 502px;
  }
  .card-link1 {
    width: 110px;
    height: 160px;
    right: -10px;
    top: 30%;
  }
  .card-link2 {
    width: 110px;
    height: 150px;
    right: -20px;
  }
}

@media (max-width: 900px) {
  .slider__images {
    height: 452px;
  }
  .card-link1, .card-link2 {
    font-size: 12px;
  }
  .card-link1 {
    width: 90px;
    height: 120px;
  }
  .card-link2 {
    width: 80px;
    height: 110px;
  }
}

@media (max-width: 767px) {
  .slider {
    padding-top: 70px;
    margin-bottom: 85px;
  }
  .card-link1 {
    top: 25%;
  }
  .slider__dots {
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  .slider__images {
    height: 302px;
  }
  .card-link1, .card-link2 {
    font-size: 10px;
    padding: 10px;
    width: 70px;
    height: 90px;
  }
}

@media (max-width: 475px) {
  .slider__images {
    height: 202px;
  }
  .card-link1, .card-link2 {
    font-size: 8px;
    width: 60px;
    height: 70px;
  }
  .card-link1 {
    top: 35%;
  }
  .card-link2 {
    bottom: 10%;
  }
}